html {
    font-family: sans-serif;
    background-color: #011638;
    color: #cdcdcd;
}

header, body {
    background-color: #364156;
}
a{
    color: #dff8eb;
    text-decoration: none;
}

button {
    background-color: #214e34;
    color: #dff8eb;
}